[submodule "dsh-architect"]
	path = dsh-architect
	url = https://github.com/lomehong/dsh-architect.git
[submodule "dsh-yuyi"]
	path = dsh-yuyi
	url = https://github.com/lomehong/dsh-yuyi.git
[submodule "omp-architect"]
	path = omp-architect
	url = https://github.com/lomehong/omp-architect.git
